* {
    margin:0;
    padding:0;
}

/************************* Left Section ***********************/
.left {
    /* border:2px solid red; */
    width:140px;
    margin:4px;
}

.left img {
    width:140px;
}

.heading {
    text-transform:capitalize;
    font-style:italic;
    font-weight:bold;
}

.navigation-header {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    background-color:rgb(255, 188, 161);

}

/************************ Middle Section *********************/
.middle {
    display:flex;
    flex-direction:row;
    align-items:center;
    
    /* justify-content:space-between; */
}

.middle input {
    width:400px;
    height:40px;
    border-radius:50px;
    font-size:1rem;
    position:relative;
}

.search {
    width:100px;
    height:42px;
    bottom:1px;
    border-radius:50px;
    position:relative;
    right:45px;
    background-color:rgb(255, 188, 161);
    color:white;
}

/************************** Right Section ********************/

.favourites {
    width:30px;
    height:30px;
}

.right {
    margin:4px;
}

.right img {
    cursor:pointer;
}

/****************************Content Section *************************/
.diversion {
    display:flex;
    flex-direction:row;
}

.sec-1 {
    width:30%;
    background-color:white;
    height:1000px;
}

.sec-2 {
    width:100%;
    background-color:rgb(255, 188, 161);
    height:1000px;
}








